@page {
    size: A4;
}

.forecastTableHeader, .forecastTableFooter, td, th {
    font-family: Helvetica, sans-serif;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    background-color: #c3c3c3;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
}

.maxWidth {
    white-space: nowrap;
    overflow: hidden;
    max-width: 10%;
}

td {
    padding: 5px;
    font-size: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #e2e2e2;
}

td.coldWeather-1 {
  background-color: yellow;
}

td.coldWeather-2 {
  background-color: orange;
}

td.coldWeather-3 {
  background-color: red;
}

.forecastTableHeader {
    font-size: 16px;
    font-weight: bold;
}

.forecastTableFooter {
    font-size: 12px;
    font-style: italic;
}

.heatRisk-Green {
    background-color: #E3F8E1;
}
.heatRisk-Yellow {
    background-color: #F2F346;
}
.heatRisk-Orange {
    background-color: #F28427;
}
.heatRisk-Red {
    background-color: #D81827;
}
.heatRisk-Magenta {
    background-color: #66006C;
}

.forecastTableContainer {
    page-break-after: avoid;
}